<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>Your packages</h1>

    <form action="/parcels" method="post">
      <label for="description">Description</label>
      <input id="description" name="description" type="text">
      <br>
      <label for="height">height in cm</label>
      <input id="height" name="height" type="text">
      <br>
      <label for="width">width in cm</label>
      <input id="width" name="width" type="text">
      <br>
      <label for="depth">depth in cm</label>
      <input id="depth" name="depth" type="text">
      <br>
      <label for="weight">weight in kilograms</label>
      <input id="weight" name="weight" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
